body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

.toDo-div {
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading input {
  width: 100%;
  height: 7vh;
}

.list-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 2% 20%;
}

.task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid gray;
}

.clear-btn {
  background-color: rgb(242, 242, 242);
  border: 0.5px solid gray;
  height: 7vh;
  cursor: pointer;
}

.check-box,
.reload {
  cursor: pointer;
}
